# ==========================
# ENV
# ==========================
.env
.env.*
!.env.example

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

backend/venv/
.venv/
venv/
env/

backend/.env
frontend/.env

# ==========================
# Node / React / Vite
# ==========================
node_modules/
dist/
build/
.vite/

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# JetBrains
# ==========================
.idea/

# ==========================
# Coverage
# ==========================
coverage/
htmlcov/

# ==========================
# Render
# ==========================
.render/

# ==========================
# Firebase
# ==========================
firebase-debug.log