@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --color-primary: #e30613;
  --color-secondary: #f4c400;
  --color-dark: #fafafa;
  --color-dark-light: #1a1a1a;
  --color-text: #ffffff;
  --color-text-muted: #bdbdbd;
  --color-border: #2a2a2a;

  --radius: 10px;
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fafafa;
  color: var(--color-text);
}