.adminHeader {
  height: 90px;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

/* LEFT */
.adminHeader__left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.menuBtn {
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 22px;
  cursor: pointer;
  display: none; /* só mobile */
}

.adminLogo {
    padding-left: 10px;
  height: 50px;
}

/* RIGHT */
.adminHeader__right {
    padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconBtn {
margin-right: 20px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  color: var(--color-text);
}

.iconBtn:hover {
  color: var(--color-secondary);
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: var(--color-secondary);
  color: #000;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

/* USER */
.adminUser {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email {
  font-size: 14px;
  color: var(--color-text);
}

.avatar {
  width: 35px;
  height: 35px;
  background: #fff;
  color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* LOGOUT */
.logoutBtn {
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  font-size: 18px;
}

.logoutBtn:hover {
 color: var(--color-secondary);
}

/* MOBILE */
@media (max-width: 900px) {
  .menuBtn {
    display: block;
  }

  .adminLogo {
    display: none;
  }

  .email {
    display: none;
  }
}